spring:
  datasource:
    username: ibolx
    password: viboldev
    url: jdbc:postgresql://localhost:5432/item_test
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        '[format_sql]': false
     #   dialect: org.hiberznate.dialect.PostgreSQLDialect
